
body
    {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../images/fondo.jpeg) no-repeat center fixed;
    background-size: 100%;
    position:auto;
    }

.bodylogin
    {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../images/bgpdw.jpeg) no-repeat center fixed;
    background-size: 100%;
    position:auto;
    }
td
{
  font-size:small;  
}
.boxscroll
{
    padding:0px;
    height: 75%;
    width: auto;
    background:white;
    overflow-y: auto;
}
.boxscrollpag
{
    padding:0px;
    height: 63%;
    width: auto;
    background:white;
}
.boxscrollhome
{
    padding:0px;
    height: 75%;
    width: auto;
    background:white;
}