
body
    {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../images/fondo_login.jpg) no-repeat center fixed;
    background-size: 100%;
    position:auto;
    }
td
{
  font-size:small;  
}
.boxscroll
{
    padding:0px;
    height: 75%;
    width: auto;
    overflow-y: scroll;
}
.boxscrollhome
{
    padding:0px;
    height: 90%;
    width: auto;
    overflow-y: scroll;
}